       body {
            font-family: 'Comic Sans MS', cursive;
            background-color: #FF69B4;
            margin: 0;
            padding: 0;
        }
        
        .container {
            max-width: 1000px;
            margin: 0 auto;
            padding: 20px;
        }
        
        header {
            background-color: #F5E05D;
            padding: 10px 0;
            position: sticky;
            top: 0;
            z-index: 1000;
        }
        
        nav {
            max-width: 1000px;
            margin: 0 auto;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0 20px;
        }
        
        .no {
            text-decoration:none;
        }
        .logo {
            font-size: 2em;
            font-weight: bold;
            color: #FF1493;
            text-shadow: 2px 2px 0 #000;
        }
        .logo a {
            font-weight: bold;
            color: #FF1493;
            text-decoration: none;
            text-shadow: 2px 2px 0 #000;
        }
        
        .nav-links {
            list-style-type: none;
            display: flex;
            gap: 20px;
        }
        
        .nav-links li a {
            color: #000;
            text-decoration: none;
            font-weight: bold;
            font-size: 1.2em;
            transition: color 0.3s;
        }
        
        .img-logo {
            width: 24px;
            height: 24px;
        }

        .nav-links li a:hover {
            color: #FF1493;
        }

        .hamburger {
            display: none;
            cursor: pointer;
        }

        .hamburger div {
            width: 25px;
            height: 3px;
            background-color: #000;
            margin: 5px 0;
            transition: all 0.3s ease;
        }
        
        h1 {
            font-size: 4em;
            text-align: center;
            color: #FFD700;
            text-shadow: 3px 3px 0 #000, -3px -3px 0 #000, 3px -3px 0 #000, -3px 3px 0 #000;
            transform: rotate(-5deg);
            margin-top: 40px;
        }
        
        h2 {
            font-size: 2em;
            color: #FF69B4;
            text-shadow: 1px 2px #000;
            margin-top: 10px;
        }
        
        .navigation {
            display: flex;
            justify-content: space-between;
            margin-top: 30px;
        }
        
        .nav-button {
            background-color: #FF1493;
            color: #FFF;
            border: 3px solid #000;
            padding: 10px 20px;
            font-size: 1.2em;
            font-weight: bold;
            border-radius: 8px;
            cursor: pointer;
            transition: transform 0.3s, background-color 0.3s, box-shadow 0.3s;
            text-decoration: none;
        }
        
        .nav-button:hover {
            transform: scale(1.05) rotate(-3deg);
            background-color: #FFD700;
            color: #000;
            box-shadow: 5px 5px 0 #000;
        }
        pre {
            background-color: #0E1116;
            padding: 15px;
            color: #fff;
            border-radius: 5px;
            border: #000;
            box-shadow: 5px 5px 0 #000;
        }
        .tags {
            font-size: 12px;
            font-family: monospace;
            border: solid 1px;
            text-decoration: none;
            padding: 5px;
            border-radius: 8px;
        }
        .tags:hover {
            background-color: #000;
            color: #fff;
        }
        @media screen and (max-width: 768px) {
            .nav-links {
                position: fixed;
                right: -60%;
                padding: 8px;
                border-radius: 25px 0 0 25px;
                top: 70px;
                flex-direction: column;
                background-color: #FDEB7D;
                width: 60%;
                text-align: center;
                transition: 0.3s;
                box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
            }

            .nav-links.active {
                right: 0;
            }

            .nav-links li {
                margin: 2px;
                padding: 15px;
                border-bottom: dotted 1px;
            }

            .hamburger {
                display: block;
            }

            .hamburger.active .bar:nth-child(2) {
                opacity: 0;
            }

            .hamburger.active .bar:nth-child(1) {
                transform: translateY(8px) rotate(45deg);
            }

            .hamburger.active .bar:nth-child(3) {
                transform: translateY(-8px) rotate(-45deg);
            }
        }
