<!doctype html>
<html lang="{{ metadata.language }}">
<head>
{% include "partials/seo.njk" %}
{% set css %} {% include "style/donuts.css" %} {% endset %}<style>{{ css | cssmin | safe }}</style>
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-6422989243541464" crossorigin="anonymous"></script>
</head>
<body>
</head>
<body>
{% include "partials/navbar.njk" %}
{{content|safe}}
{%- js %}{% include "public/js/donuts.js" %}{% endjs %}
<script type="module" src="{% getBundleFileUrl "js" %}"></script>
</body>
</html>
